body{
    background-color: #d9dddc;
}
 
section {
    margin: 0.25rem;
    padding: 0.35rem;
    border: 1px solid #af94f4;
    background-color: #af94f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    color: #0504bf;
}
h2{
    color: #020257;
}

footer{
    text-align: center;
}