@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital@1&display=swap');
.btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    padding: 2px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.btn .line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #ffffff;
    transition: all 0.5s ease-out;
    display: block;
    
}
.btn.close {
    transform: rotate(180deg);
}


.btn.close .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
    
.btn.close .line:nth-child(2) {
    opacity: 0;
}
.btn.close .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
.menu {
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
}
.menu.show {
    visibility: visible;
}

.item:nth-child(1) {
    transition-delay: 0.1s;
}

.item:nth-child(2) {
    transition-delay: 0.2s;
}
.item:nth-child(3) {
    transition-delay: 0.3s;
}

.item:nth-child(4) {
    transition-delay: 0.4s;
}
header {
    background-color : #404467;
    color : #ffffff;
    display : flex;
    align-items : center;
    justify-content : center;
    padding : 20px;
    border : #000042 solid 1px;
    max-width : 1500px;
    font-family : "Playfair Display";
}
nav {
    list-style-type : none;
    justify-content : space-around;
    background-color : #a3b6a2;
    display : grid;
    text-align : center;
}
nav a {
    color : #1E1536;
    font-family : "Raleway";
    text-decoration : none;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color : #1E1536;
        /*margin : 1rem auto;*/
    font-family : "Playfair Display";
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.logo{
    width: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
.join{
    background-color: #1E1536;
    color: #ffff00;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: "Raleway";
}
h2 {
    text-align : center;
    font-family : "Playfair Display";
    color: #1E1536;
}
   
footer {
    max-width : 1500px;
    font-family : "Playfair Display";
    background-color : #404467;
    color : #ffff00;
}
body {
    display : block;
    margin : 8px;
    font-size : 10px;
}
section {
    padding : 1rem;
    background-color : #fff;
}
img {
    width : 100px;
    padding : 20px;
}
nav a:hover {
    background-color : #ffff00;
    border : #ffffff solid 1px;
}
p {
    text-align : center;
}
li a{
    color: #404467;
}

