@media only screen and (min-width: 768px){
    
    header {
        background-color : #404467;
        color : #ffffff;
        display : flex;
        align-items : center;
        justify-content : center;
        padding : 20px;
        border : solid 1px;
        max-width : 1500px;
        font-family : "Playfair Display";
    }
    nav {
        background-color : #a3b6a2;
        margin : 0 auto;
        color : #1E1536;
        display : flex;
        justify-content : space-around;
        width: 100%;
    }
    nav a {
        display : inline;
        font-family : "Raleway";
        color: #1E1536;
            
    }
    nav a:hover {
        background-color : #ffff00;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap : 1rem;
        margin : 1rem auto;
        padding : 1rem;
        max-width: 1500px;
        background-color : #b2ccaf;
        font-family : "Raleway";
        
    }
    h1 {
        font-size: 2em;
        margin: 0.67em 0;
        font-family : "Playfair Display";
    }
    h2 {
        text-align : center;
        font-family : "Playfair Display";
        color: #ffffff;
    }
    p{
        text-align: center;
    }
    
    .sec,.sec2,.sec3 {
        background-color: #404467;
      
    }
    .sec p,.sec2 p,.sec3 p {
        color: #ffffff;
    }
    a{
        text-decoration: none;
    }
    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        padding: 15px;
    }
    .join{
        color: #1E1536;
        text-align:center ;
        display: grid;
    }
    a:hover{
        text-decoration: underline;
    }
    .logo{
        width: 60px;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 15px;
    }
    footer {
        max-width : 1500px;
        text-align : center;
        background-color : #404467;
        color : #ffff00;
        font-family : "Playfair Display";
    }
    footer a{
        color: #ffff00;
    }
    footer a:hover{
        color: #ffffff;
    }
    /*For Discover Page*/
    .calendar{
        width: 150px;
    }
    .info{
        display: block;
        background-color: #1E1536;
        color: #ffffff;
        font-family: "Raleway";
        width: 150px;
    }
    .info2{
        display: block;
        background-color: #1E1536;
        color: #ffffff;
        font-family: "Raleway";
        width: 150px;
    }
    .sidebar {
        z-index: 1;
        left: 10px;
        overflow-x: hidden;
        padding: 8px 0;
        grid-column: 3;
        grid-row: 1;
      }
    h3{
        text-align: center;
        color: #1E1536;
        font-family: "Playfair Display";
      }
    #estaiada{
        grid-column: 2;
        grid-row: 1;

    }
    #praca{
        grid-column: 2;
        grid-row: 2;
    }
    #potycabana{
        grid-column: 1;
        grid-row: 1;
    }
    #cuia{
        grid-column: 2;
        grid-row: 3;
    }
    #rios{
        grid-column: 1;
        grid-row: 3;
    }
    #ipe{
        grid-column: 1;
        grid-row: 2;
    }
    #estaiada p,#praca p,#potycabana p,#cuia p,#rios p,#ipe p{
        color: #1E1536;
        font-family: "Raleway";
    }
    #estaiada:hover,#praca:hover,#potycabana:hover,#cuia:hover,#rios:hover,#ipe:hover{
        rotate: .05turn;
	    padding: 1px;
    }
}