@media only screen and (min-width: 768px) {
    header {
    background-color : #404467;
    color : #ffffff;
    display : flex;
    align-items : center;
    justify-content : center;
    padding : 20px;
    border : solid 1px;
    max-width : 1500px;
    font-family : "Playfair Display";
    }
    nav {
    background-color : #a3b6a2;
    margin : 0 auto;
    color : #1E1536;
    display : flex;
    justify-content : space-around;
    width : 100%;
    }
    nav a {
    display : inline;
    font-family : "Raleway";
    color : #1E1536;
    }
    nav a:hover {
    background-color : #ffff00;
    }
    main {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    gap : 1rem;
    margin : 1rem auto;
    padding : 1rem;
    max-width : 1500px;
    background-color : #b2ccaf;
    font-family : "Raleway";
    }
    h1 {
    font-size : 2em;
    margin : 0.67em 0;
    font-family : "Playfair Display";
    }
    h2 {
    text-align : center;
    font-family : "Playfair Display";
    color : #ffffff;
    }
    
    .sec, .sec2, .sec3 {
    background-color : #404467;
    }
    .sec p, .sec2 p, .sec3 p {
    color : #ffffff;
    }
    a {
    text-decoration : none;
    }
    .image {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 500px;
    padding : 15px;
    }
    .join {
    color : #1E1536;
    text-align : center;
    display : grid;
    }
    a:hover {
    text-decoration : underline;
    }
    .logo {
    width : 60px;
    position : absolute;
    top : 0;
    left : 0;
    padding : 15px;
    }
    footer {
    max-width : 1500px;
    text-align : center;
    background-color : #404467;
    color : #ffff00;
    font-family : "Playfair Display";
    }
    footer a,footer p {
    color : #ffff00;
    }
    footer a:hover {
    color : #ffffff;
    }
    
    .calendar {
    width : 150px;
    }
    .info {
    color : #1E1536;
    font-family : "Raleway";
    width : 150px;
    }
    .info2 {
    color : #1E1536;
    font-family : "Raleway";
    width : 150px;
    }
    .sidebar {
    z-index : 1;
    left : 10px;
    overflow-x : hidden;
    padding : 8px 0;
    grid-column : 3;
    grid-row : 1;
    }
    h3 {
    text-align : center;
    color : #1E1536;
    font-family : "Playfair Display";
    }
    #estaiada {
    grid-column : 2;
    grid-row : 1;
    }
    #praca {
    grid-column : 2;
    grid-row : 2;
    }
    #potycabana {
    grid-column : 1;
    grid-row : 1;
    }
    #cuia {
    grid-column : 2;
    grid-row : 3;
    }
    #rios {
    grid-column : 1;
    grid-row : 3;
    }
    #ipe {
    grid-column : 1;
    grid-row : 2;
    }
    #estaiada p, #praca p, #potycabana p, #cuia p, #rios p, #ipe p {
    text-align: center;
    color : #1E1536;
    font-family : "Raleway";
    }
    #estaiada img:hover, #praca img:hover, #potycabana img:hover, #cuia img:hover, #rios img:hover, #ipe img:hover {
    padding : 1px;
    filter: blur(4px);
    }

    h4{
        text-align: center;
        grid-column: 2;
        color: #1E1536;
    }
    #date{
        grid-column: 2;
        text-align: center;
        color: #1E1536;
    }
    form h1{
        font-size: 1rem;
    }
    form fieldset {
        margin : 2rem 0;
        border: 2px solid #1E1536;
        border-radius : 10px;
        padding : 0.5rem 2%;
    }
    #submitBtn{
        border: 1px solid #1E1536;
        background-color: #404467;
        color: #ffff00;
        
    }
    #name1,#name2,#tittle,#email,#phone,#bName,#member1,#member2,#member3,#member4{
        gap : 1rem;
    }
    input{
        margin: 5px;
    }
    form label{
        color: #1E1536;
        font-family: "Raleway";
    }
    #good{
        grid-column: 3;
        grid-row: 1;
    }
    #good p{
        text-align: center;
    }
    #good h2{
        color: #1E1536;
    }
    #i {
        width : 100px;
        padding : 20px;
        
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    
    .menu2 {
        margin: 1rem auto;
        
        padding: 0.5rem;
        text-align: center;
    }
    
    .menu2 button {
        padding: 1rem;
        font-weight: 700;
    }
    
    section {
        border: 1px solid #1E1536;
        padding: 0.5rem;
        
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;
    }
    
    .grid section {
        text-align: center;
    }
    
    .grid img {
        border: 1px solid #fff;
        box-shadow: 0 0 10px #333;
    }
    
    .grid section > * {
        margin: 0.1rem;
    }
    
    .grid h3 {
        font-family: "Raleway";
    }
    
    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }
    
    .list section > * {
        margin: 0 1rem;
    }
    
    
    
    .list section h3 {
        font-size: 1rem;
        font-family: Roboto, Helvetica, sans-serif;
    }
    
    
    
    section h3 {
        font-size: 1.5rem;
    }
    
    
    
    section a {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 0.85rem;
        color: navy;
        letter-spacing: 1.1pt;
        grid-column: 1;
        grid-row: 8;
    }
    section p{
        grid-column: 1;
        text-align: center;
    }
    .sec2{
        color:#fff;
    }
    #banner{
        display : block;
        margin-left : auto;
        margin-right : auto;
        width : 400px;
        padding : 15px;
    }
    #sec3{
        background-color: #404467;
    }
    #sec3 p{
        color: #fff;
    }
    #sec3 a{
        color: #ffff00;
    }
    
    
    
}