@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital@1&display=swap');


header {
    background-color : #404467;
    color : #ffffff;
    display : flex;
    align-items : center;
    justify-content : center;
    padding : 20px;
    border : 1px solid #000042;
    max-width : 1500px;
    font-family : "Playfair Display";
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #a3b6a2;
  }
  

nav a {
    display: block;
    width: 60px;
    color: #fffaac;
    font-family: "Raleway";
  }

main{
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 1rem;
    background-color: #b2ccaf;
    margin: 1rem auto;
    padding: 1rem;
    width : 90%;
    font-family : "Playfair Display";
    
    
    
}
h2{
    text-align: center;
    font-family: "Playfair Display";
}
h3{
    background-color: #ffffff;
    text-align: center;
    font-family: "Raleway";
    background-color : #5c627a;
}
footer{
    max-width: 1500px;
    font-family: "Playfair Display";
    background-color: #404467;
    color:#fffaac;
    text-align : center;
    
}
body {
    display: block;
    margin: 8px;
    font-size: 10px;
}
section{
    padding: 1rem;
    background-color: #fff;
}

img {
    width : 100px;
    padding : 20px;
}