@media only screen and (min-width: 768px){
    header{
        background-color : #404467;
        color : #ffffff;
        display : flex;
        align-items : center;
        justify-content : center;
        padding : 20px;
        border : solid 1px;
        max-width : 1500px;
        font-family : "Playfair Display";
    }
    nav {
        background-color : #a3b6a2;
        margin : 0 auto;
        color : #1E1536;
        display : flex;
        justify-content : space-around;
        width: 100%;
    }
    nav a {
        display : inline;
        font-family : "Raleway";
        color: #1E1536;
            
    }
    nav a:hover {
        background-color : #ffff00;
    }
    main {
        display: grid;
        width : 90%;
        background-color : #b2ccaf;
        font-family : "Playfair Display";
        gap : 1rem;
        margin : 1rem auto;
        padding : 1rem;
        font-family : "Playfair Display";
    }
    
    .hero-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        position: relative;
        height: 300px;
        
    }
    
    #cards{
        grid-column: 1;
        grid-row: 8;
    }
    #card2{
        grid-column: 2;
        grid-row: 8;
    }
    .hero {
        max-width: 100%;
        background: radial-gradient(#404467, #1E1536);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #000;
        opacity: 0.75;
        position: absolute;
        margin: 0;
        font-weight: 700;
        font-size: 2rem;
        font-family:"Playfair Display";
        top: 30px;
        left: 30px;
    }
    .hero p {
        color: #fff;
        width: 120px;
    }
    
    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }
    h2 {
        text-align : center;
        font-family : "Playfair Display";
        grid-row: 7;
        color: #000;
        position: relative;
    }
    h3 {
        background-color : #ffff00;
        color : #000;
        text-align : center;
        font-family : "Raleway";
    }
    h4{
        color: #fff;
    }
    img {
        width : 100px;
        padding : 20px;
        
    }
    footer {
        max-width : 1500px;
        background-color : #404467;
        font-family : "Playfair Display";
    }
    body {
        display : block;
        margin : 8px;
        font-size : 20px;
    }
    section {
        padding : 1rem;
        background-color : #404467;
    }
    a{
        text-decoration: none;
    }
    li a{
        color: #ffff00;
    }
    li{
        color: #fff;
    }
    p {
        text-align : center;
        color: #fff;
    }
    div img{
        width: 150%;
    }
    iframe{
        margin: auto;
        display: block;
        max-width: 100%;
    }
    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        background-color: #fff;
    }
    
}


